.edit-form {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 40px;
  height: 100%;

  &__title {
    margin-bottom: 18px;
  }

  &__input-counter {
    font-size: 12px;
    opacity: 0.5;
  }

  &__address-block {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 16px;
  }

  &__address-select {
    width: 100%;
    margin: 0;
  }
  &__description {
    margin-bottom: 16px;
  }

  &__address-picker.MuiButtonBase-root.MuiIconButton-root {
    background-color: $color-substrate;
  }

  &__block-title {
    margin-bottom: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__publish-wrapper {
    margin-top: 22px;
    text-align: center;
  }
  &__publish.MuiButtonBase-root {
    padding: 0 50px;
    margin-left: auto;
    background-color: $color-primary;
    color: white;
    @include color-hover($color-primary);
  }
  &__file-loader {
    margin-bottom: 16px;
  }
  &__photo-wrapper {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 16px;
    @media screen and (max-width: $media-sm) {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 16px;
      row-gap: 16px;
    }
  }
  &__photo-preview {
  }

  &__loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
