.filters-header {
  width: 100%;
  position: sticky;
  top: 57px;
  z-index: 10;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  background-color: $color-primary;
  text-align: center;
  &__title {
    color: white;
    font-weight: 600;
    font-size: 50px;
    @media screen and (max-width: $media-sm) {
      font-size: 40px;
    }
  }

  &__sub-title {
    color: white;
    font-weight: 600;
    @media screen and (max-width: $media-sm) {
      font-size: 16px;
    }
  }

  &__title-wrapper {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
    max-height: 100px;
    overflow: hidden;
    opacity: 1;
  }

  &__title-wrapper.hide {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 1000ms;
    max-height: 0;
    opacity: 0;
  }

  &__categories-wrapper {
    max-width: 800px;
    padding: 0 24px;
    overflow-y: hidden;
    margin: 0 auto;
    // margin-top: 24px;
  }

  &__categories.MuiToggleButtonGroup-root {
    display: flex;
    overflow-x: scroll;
    align-items: center;
    gap: 8px;
    -webkit-scrollbar: 6px;
    padding: 14px 0;
    width: 100%;
    border-radius: 0;

    // ::-webkit-scrollbar-thumb {
    //   background: white;
    // }

    // ::-webkit-scrollbar-track {
    //   background: wheat;
    // }
  }

  &__category-btn.MuiButtonBase-root {
    text-transform: none;
    white-space: nowrap;
    padding: 0;
    border: 0;
    background: white;
    color: black;
    border-radius: 16px !important;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px 8px;
    @include color-hover(white);
    transition: $default-transition;
  }

  &__category-btn.MuiButtonBase-root.toggled {
    color: $color-primary;
    opacity: 1;
    background-color: $color-primary;
    color: white;
    box-shadow: 0 0px 8px white;
    & .filters-header__category-title {
      opacity: 1;
    }
  }
  &__category-icon {
    font-size: 17px;
  }
  &__category-title {
    font-weight: 500;
    opacity: 0.6;
  }

  &__search-bar {
    margin: 0 auto;
    display: flex;
    gap: 1px;
    padding: 12px 24px;
    padding-top: 0;
    margin-top: 4px;
  }
  &__city-select.select {
    max-width: 200px;
    width: 100%;
    margin-bottom: 0;
    height: 40px;
    & .MuiInputBase-root {
      border-radius: 8px 0px 0px 8px;
      border: 0;
      height: 40px;
      box-sizing: border-box;
    }
    & .MuiSelect-select {
      border-radius: 8px 0px 0px 8px;
      border: 0;
      height: 40px;
      box-sizing: border-box;
    }

    & .MuiOutlinedInput-notchedOutline {
      border: 0;
      height: 40px;
    }
  }

  &__search-input.input {
    margin-bottom: 0;
    & .MuiInputBase-root {
      border-radius: 0;
    }
    & .MuiOutlinedInput-notchedOutline {
      border: 0;
    }
  }
  &__search-btn.MuiButtonBase-root {
    background: white;
    border-radius: 0px 8px 8px 0px;
    @include color-hover(white);
    max-width: 100px;
    width: 100%;
  }

  &__sorting {
    color: white;
    margin-bottom: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  &__sorting-value {
    cursor: pointer;
    align-items: center;
    display: flex;
    &:hover {
      text-decoration: underline;
    }
  }

  &__sort-btn.MuiButtonBase-root {
    color: white;
    border-radius: 4px;
    padding: 2px;
    background: rgba(0, 0, 0, 0.05);
    &:hover {
      background: rgba(0, 0, 0, 0.07);
    }
  }

  &__sort-icon.MuiSvgIcon-root {
    transition: transform 0.12s ease-in-out;
  }

  &__sort-icon.MuiSvgIcon-root.rotated {
    transform: scaleY(-1);
  }
}

.filters-header.down {
  top: -153.75px;
}
.filters-header__search-bar.container {
  max-width: 1000px;
}
