.make-review-modal {
  position: relative;
  & .modal__container {
    padding: 24px 38px;
    border-radius: 12px;
    // height: 600px;
  }

  &__title {
    font-weight: 600;
    margin-bottom: 24px;
  }

  &__close-btn.MuiButtonBase-root {
    position: absolute;
    top: 14px;
    right: 4px;
  }

  &__helper {
    opacity: 0.5;
    line-height: 20px;
    font-size: 15px;
  }

  &__review-wrapper {
    margin-top: 24px;
    width: 100%;
    text-align: center;
  }

  &__review.MuiButtonBase-root {
    color: white;
    background: $color-primary;
    @include color-hover($color-primary);
    margin: 0 auto;
    width: 200px;
  }

  &__rating-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
  }
}
