.moderation-form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  &__title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &__block {
    padding: 18px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin-bottom: 24px;
  }
  &__block-header {
    font-weight: 600;
    margin-bottom: 12px;
  }
  &__cancel-btn.MuiButtonBase-root {
    position: absolute;
    top: -10px;
    left: 0;
  }

  &__header {
    font-weight: 600;
    margin-bottom: 12px;
  }
  &__description {
    opacity: 0.6;
  }

  &__category {
  }

  &__image {
    width: 100%;
  }
}
