.moderation-map {
  height: 400px;
  width: 100%;
  position: relative;

  & .mapboxgl-canvas {
    border-radius: 8px;
  }

  &__helper {
    text-align: center;
    position: relative;
    font-weight: 600;
  }

  &__place-name {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 11;
    padding: 12px;
    border-radius: 8px 0px 8px 0px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
  }
}
