.moderation-form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  &__title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 24px;
  }

  &__block {
    padding: 18px;
    background: rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    margin-bottom: 24px;
  }
  &__block-header {
    font-weight: 600;
    margin-bottom: 12px;
  }
  &__cancel-btn.MuiButtonBase-root {
    position: absolute;
    top: -10px;
    left: 0;
    @media screen and(max-width:$media-sm) {
      display: none;
    }
  }

  &__cancel-btn-mobile.MuiButtonBase-root {
    position: absolute;
    top: -10px;
    left: 0;
    @media screen and(min-width:$media-sm) {
      display: none;
    }
  }

  &__back-icon.MuiSvgIcon-root {
    color: $color-primary;
  }

  &__header {
    font-weight: 600;
    margin-bottom: 12px;
  }
  &__description {
    opacity: 0.6;
  }

  &__category {
  }

  &__image {
    width: 100%;
  }

  &__conclusion {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  &__reject.MuiButtonBase-root {
    color: white;
    background-color: $color-error;
    width: 150px;
    @include color-hover($color-error);
  }
  &__publish.MuiButtonBase-root {
    color: white;
    width: 150px;

    background-color: $color-primary;
    @include color-hover($color-primary);
  }
}
