.not-found-item {
  text-align: center;
  &__icon {
    font-size: 56px;
  }

  &__text {
    font-weight: 700;
    opacity: 0.6;
  }
  &__helper {
    margin-top: 8px;
    font-size: 13px;
    opacity: 0.5;
  }
}
