.password-indicator {
  margin-top: 4px;
  border-top: 3px solid rgba(0, 0, 0, 0.2);
  transition: $default-transition;
  &__weak {
    border-top: 3px solid rgba($color: $color-error, $alpha: 0.8);
  }
  &__normal {
    border-top: 3px solid rgba($color: $color-third, $alpha: 0.8);
  }
  &__strong {
    border-top: 3px solid rgba($color: $color-fifth, $alpha: 0.8);
  }
}
