.photo-preview {
  transition: $default-transition;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 8px;
  &__photo {
    object-fit: cover;
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
  }
  &:hover {
    .photo-preview__delete-btn {
      opacity: 1;
    }
    .photo-preview__main-btn {
      opacity: 1;
    }
  }
  &__delete-btn.MuiButtonBase-root {
    opacity: 1;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    color: rgb(188, 3, 3);
    @media screen and (max-width: $media-sm) {
      opacity: 1;
    }
  }
  &__delete-icon {
  }

  &__main-btn {
    opacity: 0;
    @media screen and (max-width: $media-sm) {
      opacity: 1;
    }
  }
}
