.recover-password-form {
  border: 1px solid #00000012;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 400px;
  padding: 50px;
  position: relative;
  width: 100%;

  @media screen and (max-width: 1024px) {
    padding: 50px;
    padding-top: 16px;
  }

  @media screen and (max-width: 450px) {
    padding: 20px;
  }

  &__header {
    max-width: 350px;
    font-size: 22px;
    margin-bottom: 32px;
    font-weight: 600;
    @media screen and (max-width: 1024px) {
      text-align: center;
    }
  }

  &__header {
    margin-bottom: 22px;
  }

  &__send-letter.MuiButtonBase-root {
    color: white;
    width: 100%;
    background: $color-primary;
    margin-top: 12px;
    margin-bottom: 16px;
    &:hover {
      background: $hover-primary;
    }
  }
  &__signup {
  }
  &__no-account {
    text-align: center;
  }
  &__link {
    color: $color-primary;
  }

  &__send-again {
    text-align: center;
    margin-bottom: 12px;
  }

  &__letter-sended {
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__password-input {
    margin-bottom: 0;
  }
}
