.side-menu {
  &__list {
    list-style: none;
    border-radius: 8px;
    max-width: 250px;
  }
  &__menu-item {
    padding: 12px 0px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    transition: $default-transition;
    color: black;
    @include hover-active {
      color: $color-primary;
      padding-right: 4px;
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &__next-icon {
    margin-left: auto;
  }

  &__link {
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
  }
  &__menu-selected {
    color: $color-primary;
  }
}
