$color-background: #eff1f5;
$color-accent: #f37022;
$color-error: #d43131;
$color-secondary: #cd004d;
$color-third: #fcb712;
$color-fourth: #6460aa;
$color-fifth: #0cb14b;
$color-sixth: #000088;
$color-seventh: #4879f7;
