@font-face {
  font-family: 'HouschkaPro';
  src: url('../assets/fonts/HouschkaPro-Light.otf') format('opentype');
  font-stretch: normal;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'HouschkaPro';
  src: url('../assets/fonts/HouschkaPro-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'HouschkaPro';
  src: url('../assets/fonts/HouschkaPro-DemiBold.otf') format('opentype');
  font-weight: 600;
}

@font-face {
  font-family: 'HouschkaPro';
  src: url('../assets/fonts/HouschkaPro-Bold.otf') format('opentype');
  font-weight: 700;
}
